body {
    overflow-y: scroll;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.page-main {
    @apply my-8;
}

.flex-columns-wrapper {
    @apply flex flex-col;

    @screen md {
        @apply flex-row;
    }
}

.columns {
    @apply grid grid-cols-1 gap-x-8 gap-y-4 container;
    grid-template-rows: auto minmax(0,1fr);

    .main {
        @apply order-2;
    }

    .sidebar {
        @apply order-3;
    }

    .page-main-full-width & {
        @apply max-w-none px-0;
    }
}

.page-with-filter {
    .columns {
        .sidebar-main {
            @apply order-1;
        }
    }
}

@screen sm {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-2;

            .main {
                @apply col-span-2;
            }

            .sidebar {
                @apply order-3;
            }
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                @apply order-1 col-span-2;
            }
        }
    }
}

@screen md {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-3;

            .main {
                @apply row-span-2;
            }

            .sidebar {
                @apply col-span-1;
            }
        }
    }

    .page-layout-2columns-left,
    .page-layout-3columns {
        .columns {
            .main {
                @apply col-start-2 !important;
            }
            .sidebar {
                @apply order-1;
            }

            .sidebar ~ .sidebar-additional {
                @apply order-3;
            }

        }
    }

    .page-layout-2columns-right,
    .page-layout-2columns-right.page-with-filter {
        .sidebar-main {
            @apply order-3;
        }
    }
}

@screen lg {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-4;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right {
        .columns {
            .main {
                @apply col-span-3;
            }
        }
    }
    .page-layout-3columns {
        .columns {
            .sidebar-additional {
                @apply col-start-4;
            }
        }
    }
}

.product-image-container {
    width: 100% !important;

    img {
        width: 100%;
    }
}

/* my changes */
#html-body [data-content-type='tabs'] .tabs-navigation li.tab-header.active span{
    color: #9e9e9e;
} 




.item-buttons{
    position: relative;
    top: -217px;
    display: flex;
    flex-direction: column;
    left: 107px;
}


.btn-addtocart{
    padding: 6px;
    padding-right: 0px;
    /* margin-right: unset; */
    position: relative;
    left: 130px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
    
}

.btn-addtocart svg{
    /* margin-right: -8px; */
}

.btn-wishlist{
    position: relative;
        left: 90px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
        /*  */
        padding: 6px;
}

.btn-addtocompare{
    position: relative;
        left: 60px; 
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
        /*  */
        padding: 6px;
}


#html-body [data-content-type='slide'] .testimonial .pagebuilder-slide-wrapper {
    height: min-content;
}


.products-grid,
    .new-arrival .block-content,
    .trending-carousel .glider-contain{
        display: flex;
        flex-direction: column-reverse;
        .carousel-nav{
            justify-content: end;
        }
        .glider-prev,
        .glider-next{
                border: 1px solid black;
                border-radius: 0px;
        }
        
        .item{
            max-height:450px;
            min-width: 150px;
            max-width: 270px;
            z-index: 5;
            margin: 0;
            padding: 0;
            overflow: hidden;
            margin: 0px;
            --tw-shadow: none;
            a{
                margin: 0;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            &:hover{
                .btn-addtocompare,
                .btn-wishlist
                {
                    left: 0px;
                    transition: all .7s ease 0s;
                }
                .btn-addtocart{
                    left: 2px;
                    transition: all .7s ease 0s;
                }
                img:hover{
                    --tw-shadow: none;
                }
                
            }
        }
    }

.fixed_header{
        transition: all .7s ease 0s;
        position: fixed;
        top: 0px;
        -moz-animation-timing-function: ease-out;
        -moz-animation-direction: normal;
        -moz-animation-play-state: running;
        -moz-animation-fill-mode: forwards;
        box-shadow: 0 0px 5px 0;
        opacity: 0.8
    }

/* [data-content-type='slide'] .pagebuilder-slide-wrapper{
    width: 100%;
    height : auto;
} */

@media (min-width : 720px){
   #html-body .banner-slider .pagebuilder-slide-wrapper{
        width: 720px;
        height : 380px;
        margin: auto;
    }
}

@media (min-width : 980px){
    #html-body .banner-slider .pagebuilder-slide-wrapper{
        width: 940px;
        height : 495px;
        margin: auto;
    }
}

@media (min-width : 1200px){
    #html-body .banner-slider .pagebuilder-slide-wrapper{
        width: 1170px;
        height : 615px;
        margin: auto;
    }
}

.page-main{
    margin-top: 0;
    background-color: white;
}

/* tabs-section */
@media (min-width : 720px){
    .tabs-section{
         width: 720px;
         height : fit-content;
         margin-top:50px;
         margin-left: auto;
         margin-right: auto;
        
     }
 }
 
 @media (min-width : 980px){
     .tabs-section{
         width: 940px;
         height :fit-content;
         margin-left: auto;
         margin-right: auto;
         margin-top:50px;
         
     }
 }
 
 @media (min-width : 1200px){
     .tabs-section{
         width: 1170px;
         height : fit-content;
         margin-left: auto;
         margin-right: auto;
         margin-top:50px;
         
     }
 }

 [data-content-type='tabs'] .tabs-content [data-content-type='tab-item']{
    padding:0 !important;
 }

 [data-content-type='tabs'] .tabs-content{
    padding-top: 35px;
    padding-bottom: 50px;
 }

 /* #html-body .content-test-1 .pagebuilder-slide-wrapper{
    height: min-content;
 } */
.tabs-section [data-content-type='tabs'] .tabs-navigation li.tab-header a.tab-title{
    padding:0;
 }

 [data-content-type='tabs'] .tabs-navigation li.tab-header a.tab-title span{

    display: inline-block;
    font-size: 16px;
    font-family: Oswald, oswald;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 20px;
    
    
 }


 .banner-slider{
    margin-top: -17px;
 }

 .page-wrapper{
    background-color: white;
 }

 .nav-menu::after{
    content: "˅";
    vertical-align: -moz-middle-with-baseline;
    font-size: 12px;
}

.search-icon, .user-icon, .bag-icon{
height: 29px;
width: 23px
}

.banner-slider [data-content-type='slider'] .carousel-nav{
    width:100%;
    bottom: 50%;
    background-color: transparent;
}

.banner-slider button[aria-label="Previous"]{
    visibility: hidden;
position: absolute;
left:13%;
background: rgba(204,204,204,.7);
    transition: all 300ms ease 0s;
    height: 60px;
    width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
}

.banner-slider button[aria-label="Next"]{
    visibility: hidden;
    position: absolute;
    right:13%;
    background: rgba(204,204,204,.7);
    transition: all 300ms ease 0s;
    height: 60px;
    width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    }

.banner-slider button[aria-label="Next"]:hover{
        color: white;
        background: rgba(100, 100, 100, 0.9);
    
    }

.banner-slider button[aria-label="Previous"]:hover{
        color: white;
        background: rgba(100, 100, 100, 0.9);
    
    }

.banner-slider:hover{
        button[aria-label="Previous"], button[aria-label="Next"]{
            visibility: initial;
        }
    } 

.about-us-text{
    margin-top:30px;
}


.testimonial [data-content-type='slide'] .pagebuilder-slide-wrapper .pagebuilder-overlay.pagebuilder-poster-overlay{
    align-items: flex-start;
}

.testimonial{
    margin-top: 20px;
    margin-bottom: 20px;
}   

.testimonial [data-content-type='slider'] .carousel-nav{
    width:100%;
    bottom: 50%;
    background-color: transparent;

   
    
}

.testimonial:hover{
        button[aria-label="Previous"], button[aria-label="Next"]{
            visibility: initial;
        }
    } 


.testimonial button[aria-label="Previous"]{
 visibility: hidden;
position: absolute;
left:13%;
background: white;
    transition: all 300ms ease 0s;
    height: 36px;
    width: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    border: 1px solid #5d5d5d;
    color: #ababab;
}

.testimonial button[aria-label="Next"]{
    visibility: hidden;
    position: absolute;
    right:13%;
    background: white;
    transition: all 300ms ease 0s;
    height: 36px;
    width: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    border: 1px solid #5d5d5d;
    color: #ababab;
    }

.testimonial button[aria-label="Next"]:hover{
        color: white;
        background: rgba(100, 100, 100, 0.9);
    
    }

.testimonial button[aria-label="Previous"]:hover{
        color: white;
        background: rgba(100, 100, 100, 0.9);
    
    }

#menu-cart-icon, #menu-search-icon{
    margin-left: 30px;
}

[data-content-type='tabs'] .tabs-navigation li.tab-header a.tab-title span:focus{
color: grey;
}

[data-content-type='tabs'] .tabs-navigation li.tab-header a.tab-title{
    background-color: white;
}

.product-image-photo{
    height: 344px;
}


/* New changes */


.products-grid,
.new-arrival .block-content,
.featured_product_slider .glider-contain{
    display: flex;
    flex-direction: column-reverse;
    .carousel-nav{
        justify-content: end;
    }
    .glider-prev,
    .glider-next{
            border: 1px solid black;
            border-radius: 0px;
    }
    .item{
        min-width: 150px;
        max-width: 270px;
        z-index: 5;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: 0px 8px;
        --tw-shadow: none;
        a{
            margin: 0;
            width: 100%;
            img{
                width: 100%;
            }
        }
        &:hover{
            .add_to_compare,
            .add_to_wishlist
            {
                left: 0px;
                transition: all .7s ease 0s;
            }
            .add_to_cart{
                left: 2px;
                transition: all .7s ease 0s;
            }
            img:hover{
                --tw-shadow: none;
            }
            
        }
    }
}
.products-grid,
.new_collection_product_slider .block-content .grid{
    margin: 0px;
    margin-right: 8px;
}
.products-grid,
.new_collection_product_slider .block-content,
.featured_product_slider .glider{
    width: 100%;
}
.new_collection_product_slider .carousel-nav{
    display: none;
}
.shop_by_brands{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 4px;

}
.new_collection_heading,
.featured_product_heading{
    position: relative;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 4px;
    z-index: 10;
}
.featured_product_heading{
    top: 71px;
}
.new_collection_heading{
    position: relative;
    top: 0px;
}

[data-content-type="row"][data-appearance="contained"]{
    padding: 0px;
}
.product-info .positioned_tools{
    position: relative;
    top: -206px;
    display: flex;
    flex-direction: column;
    left: 107px;
}
.add_to_cart{
    padding: 6px;
    padding-right: 0px;
    margin-right: unset;
    position: relative;
    left: 130px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
}
.add_to_wishlist{
    position: relative;
    left: 90px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
    &:hover{
        color: red;
    }
}
.add_to_compare{
    position: relative;
    left: 60px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
}

/* .brand_imgs{
    min-width: 160px;
    height: 160px;
    opacity: .5;
    transition: all .4s ease 0s;
    cursor: pointer;
    text-align: center;
    &:hover{
        opacity: 1;
    }
}
.brand_imgs_container{
    min-width: 234px;
    margin-bottom: 30px;
}
.services_img{
    display: flex;
    justify-content: center;
}
.services_heading{
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Oswald',sans-serif;
}
.services_container{
    display: flex;
    height: 78px;
    justify-content: space-around !important;
}
}
​
.nav-menu::after{
    content: "˅";
    vertical-align: -moz-middle-with-baseline;
}
​
.fixed_header{
transition: all .7s ease 0s;
position: fixed;
top: 0px;
-moz-animation-timing-function: ease-out;
-moz-animation-direction: normal;
-moz-animation-play-state: running;
-moz-animation-fill-mode: forwards;
box-shadow: 0 0px 5px 0;
} */

.grid_view{
.align_item{
    justify-content: center;
}
}

.list_view{
.align_item{
    justify-content: flex-end;
}
}

/*  */

.blog-section [data-content-type='slider'] .carousel-nav{
    width:100%;
    bottom: 50%;
    background-color: transparent;
}

.blog-section:hover{
        button[aria-label="Previous"], button[aria-label="Next"]{
            visibility: initial;
        }
    } 


.blog-section button[aria-label="Previous"]{
 visibility: hidden;
position: absolute;
left:55px;
background: white;
    transition: all 300ms ease 0s;
    height: 36px;
    width: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    border: 1px solid #5d5d5d;
    color: #ababab;
}

.blog-section button[aria-label="Next"]{
    visibility: hidden;
    position: absolute;
    right:55px;
    background: white;
    transition: all 300ms ease 0s;
    height: 36px;
    width: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    border: 1px solid #5d5d5d;
    color: #ababab;
    }

.blog-section button[aria-label="Next"]:hover{
        color: white;
        background: rgba(100, 100, 100, 0.9);
    
    }

.blog-section button[aria-label="Previous"]:hover{
        color: white;
        background: rgba(100, 100, 100, 0.9);
    
    }
    
.blog-section{
    padding-top:90px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 80px;
}


.blog-button{
    padding: 8px 20px;
    background: #252525;
    color: #fff;
    margin-top: 32px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

.post-date{
    color: #7e7e7e;
}

.short-desc{
    color: #5d5d5d;
}

.my-news-letter{
    margin-top: 70px;
}


.footer-heading{
    margin-top:50px;
}

.footer-text{
    margin-top: 11px;
}